# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
*.iml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/compiler.xml
.idea/misc.xml
.idea/gradle.xml
.idea/vcs.xml
.idea/libraries